.codegen
obj
code/obj/*
code/obj
accesslist.txt
code/Properties/*
code/Properties
code/*.csproj
*.csproj
launchSettings.json
tools_asset_info.bin
tools_thumbnail_cache.bin
*.xml
*.dll
*.pdb
.intermediate/net5.0/*
.intermediate/netstandart2.0/*
.intermediate/*
.intermediate
maps/editor/_bakeresourcecache/toolscene_default_baked/*
.vs/*
*.generated.*